<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521/orcl</property>
		<property name="hibernate.connection.username">oe</property>
		<property name="hibernate.connection.password">kiran</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- <property name="hibernate.dialect">org.hibernate.spatial.dialect.oracle.OracleSpatial10gDialect</property>
		<property name="hibernate.spatial.connection_finder">org.hibernate.spatial.dialect.oracle.DefaultConnectionFinder</property>
		 -->
		<mapping class="com.oe.dto.Inventories" />
		<mapping class="com.oe.dto.Customers" />
		<mapping class="com.oe.dto.Orders" />
		<mapping class="com.oe.dto.Product_Information" />
		<mapping class="com.oe.dto.Order_Items"/>
	</session-factory>
</hibernate-configuration>